body, .mui-content, .mui-content-padded {
	background-color: #FFF;
	font-size: 14px;
}
.topic-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 16px;
	color: #000000;
	padding-bottom: 5px;
}
.topic-time {
	display: inline;
	float: right;
}
ul, ol {
    padding-left: 25px;
}
.avatar {
	width: 48px;
	border-radius: 4px;
}
.big-avatar {
    width: 73px;
    border-radius: 4px;
}
.divide {
    border-top: 1px solid #f5f5f5;
}
p {
	font-size: 12px;
}
#topic-title {
	font-size: 22px;
	font-weight: bold;
	padding: 5px 0;
}
#topic_content img {
	max-width: 100%;
}
.mui-content-padded {
	margin: 5px 5px 55px 5px;
}
.mui-bar {
	padding: 2px
}
#reply_input {
	/*width: 85%;*/
}
#topic-intime, #topic-author {
	font-size: 12px;
}
.loading{
	text-align: center;
}
